<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MonitON</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/scripts/node-materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="/scripts/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/scripts/angular/angular.min.js"></script>
	<script type="text/javascript" src="https://materializecss.com/bin/materialize.js"></script>
    <script type="text/javascript" src="/scripts/node-materialize/bin/materialize.js"></script>
    <script type="text/javascript" src="/scripts/angular-materialize/src/angular-materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io('https://localhost:3000');
        socket.on('update', function(msg){
            console.log(msg);
            updateHeartRadio(msg);
        });
    </script>
    <style>
        .sombra {
            -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
        }

        .inactivo {
            background: #d32f2f;
        }

        .inactivo-texto {
            opacity: 0.5
        }
		.modalesp{
			display: none;
		}
		[type="radio"]:not(:checked), [type="radio"]:checked {
			position: static;
			left: 0; 
			visibility: visible;
		}
		.labelradius{
		    font-size: 1.0rem;
			color: #9e9e9e;
		}
    </style>
</head>
<body  style="color:#ffffff; background:#f44336;">
<div class="col s12" style="font-size: 30px; text-align:left;font-family: 'Lato', sans-serif; font-weight: bold; margin-top:10px; height:50px; margin-left: 10px">MonitON</div>
<div class="container">
    <div class="row" >
        <div class="col s12">
            
        </div>
    </div>
	<!--modal-->
		<div id="modal1" class="modal" tabindex="0" style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8); color:#000000">
			<div class="modal-content">
				<table style="color:#000000">
					<thead>
					  <tr>
						  <th>Ejercicio</th>
						  <th>Tiempo</th>
					  </tr>
					</thead>

					<tbody>
					<form>
					  <tr>
						<td> <label class="labelradius"><input name="group1" type="radio" checked /> Ejercicio 1</label></td>
						<td>20:00.-</td>
					  </tr>
					  <tr>
						<td> <label class="labelradius"><input name="group1" type="radio" /> Ejercicio 2</label></td>
						<td>30:00.-</td>
					  </tr>
					  <tr>
						<td> <label class="labelradius"><input name="group1" type="radio" /> Ejercicio 2</label></td>
						<td>31:00.-</td>
					  </tr>
					  </form>
					</tbody>
				  </table>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
				<a href="/exercise.html" class="modal-close waves-effect waves-green btn-flat">Continuar</a>
			</div>
		</div>
	<div class="row" style="margin:0; position: fixed; bottom:0; height:55px; z-index:999; left:0; background:#f44336; width:100%;">
				<div class="col s12" style="margin-top: 5px;"></div>
				<div class="col s2 waves-effect waves-light" style="text-align:center"><i class="material-icons" style="font-size: 40px; "><a href="/index.html" class="inactivo-texto"  style="font-size: 30px; text-align:center; color: #ffffff;">home</a></i><br /><span
					 style="font-size:12px">Inicio</span></div>
				<div class="col s2 waves-effect waves-light" style="text-align:center"><i class="material-icons" style="font-size: 40px; margin-left: 4px;"><a href="/profile.html"
						 style="font-size: 30px; text-align:center; color: #ffffff;" class="inactivo-texto">persona</a></i><br /><span
					 style="font-size:12px">Perfil</span></div>
				<div class="col s4">
					<div data-target="modal1" style="width:70px; height:70px; margin: -30px 0px 0px 14px;background:#f44336; border-radius:100%;"  class=" waves-effect waves-light red btn btn-large modal-trigger"><i
						 class="medium material-icons" style="font-size:40px; margin-left: -12px;  margin-top: 5px;">add</i></div>
				</div>
				<div class="col s2 waves-effect waves-light"><i class="material-icons" style="font-size: 30px; text-align:center"><a href="/messages.html"
						  style="font-size: 30px; text-align:center; color: #ffffff;" class=" inactivo-texto">chat_bubble</a></i><br /><span
					 style="font-size:12px;margin-left: -8px">Mensajes</span></div>
				<div class="col s2 waves-effect waves-light"><i class="material-icons" style="font-size: 30px; "><a href="/graphs.html"
						 style="font-size: 30px; text-align:center; color: #ffffff;">insert_chart</a></i><br /><span style="font-size:12px">Panel</span></div>

			</div>
</div>
<script type="text/javascript">
       

        $(document).ready(function(){
            $('.modal').modal();
        });
	</script>
</body>
</html>
