<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Profile</title>
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#f44336">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#f44336">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#f44336">
    <!-- Materialize CSS -->
	<link rel="stylesheet" href="/scripts/node-materialize/bin/materialize.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
	<script type="text/javascript" src="/scripts/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/scripts/angular/angular.min.js"></script>
	<script type="text/javascript" src="/scripts/node-materialize/bin/materialize.js"></script>
	<script type="text/javascript" src="/scripts/angular-materialize/src/angular-materialize.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="613542828261-nq0etinpe50lb47c5vdj45epfa106q5o.apps.googleusercontent.com">
	<style>
	.sombra{
		-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
	}
	.inactivo{
	background:#d32f2f;
	}
	.inactivo-texto{
	opacity: 0.5
	}
	.modalesp{
			display: none;
		}
		[type="radio"]:not(:checked), [type="radio"]:checked {
			position: static;
			left: 0; 
			visibility: visible;
		}
		.labelradius{
		    font-size: 1.0rem;
			color: #9e9e9e;
		}
	</style>
</head>
<body  style="color:#ffffff; background:#c62828;">
<div class="g-signin2" style="display: none" data-onsuccess="onSignIn"></div></br/>

		<div class="container" style="width: 100%; padding:0">
			
			<div class="row" style="margin: 40px 0px 0px 0px" >
				<div class="col s3" style="text-align: center"><i class="material-icons">settings</i><br/><span style="font-size:12px">Opciones</span></div><div class="col s6" style="height:10px"> </div><div class="col s3" style="text-align: center"><i class="material-icons">exit_to_app</i><br/><span style="font-size:12px"><a onclick="signOut()" style="text-decoration: none; color: #ffffff"> Salir</a></span></div>
				<div class="col s12"><div style="width: 100px; height:100px; margin: 0 auto; background:#ffffff; border-radius: 100%;color:#c62828; text-align:center"><i class="material-icons" style="font-size:100px;">persona</i></div></div>
				<div class="col s12" style="font-size: 25px; text-align:center;font-family: 'Lato', sans-serif; font-weight: bold; margin-top:30px; margin-bottom:20px;">John Doe</div>
				<div class="col s3" style="height:10px"></div><div class="col s6" style="height:37px; background:rgba(255,255,255,1); color:#757575; font-family: 'Lato', sans-serif; border-radius: 5px; font-size:27px; margin-bottom:10px"><img src="/static/img/crown.png" style="height:25px"/> 1.132 pts</div><div class="col s3" style="height:10px"></div>
			</div>
			
			<div class="row" style="background:#ffffff; min-height:50vh; z-index:9; padding: 0; margin: 0;">
				<div class="col s12" style="margin-top: 30px;"></div>
				<div class="col s1" style=" height: 70px"></div>
				<div class="col s10" style="background:#c62828; height: 70px">
					<span style="font-family: 'Lato', sans-serif; font-size:14px">Correo</span>
					<div style="font-family: 'Lato', sans-serif; font-size:25px; text-align:center">john.doe@teleton.cl</div>
				</div>
				<div class="col s1" style=" height: 70px"></div>
				<div class="col s12" style="margin-top: 30px;"></div>
				<div class="col s1" style=" height: 70px"></div>
				<div class="col s10" style="background:#c62828; height: 70px">
					<span style="font-family: 'Lato', sans-serif; font-size:14px">Teléfono</span>
					<div style="font-family: 'Lato', sans-serif; font-size:25px; text-align:center">+56 9 12345678</div>
				</div>
				<div class="col s1" style=" height: 70px"></div>
				<div class="col s12" style="margin-top: 30px;"></div>
				<div class="col s1" style=" height: 70px"></div>
				<div class="col s10" style="background:#c62828; height: 70px">
					<span style="font-family: 'Lato', sans-serif; font-size:14px">Médico</span>
					<div style="font-family: 'Lato', sans-serif; font-size:25px; text-align:center">Dr. Pedro Fernandez</div>
				</div>
				<div class="col s1" style=" height: 70px"></div>
				<div class="col s12" style="margin-top: 30px;"></div>
				<div class="col s1" style=" height: 70px"></div>
				<div class="col s10" style="background:#c62828; height: 70px">
					<span style="font-family: 'Lato', sans-serif; font-size:14px">Teléfono de Contacto</span>
					<div style="font-family: 'Lato', sans-serif; font-size:25px; text-align:center">2 222 222 22</div>
				</div>
				<div class="col s1" style=" height: 70px"></div>
				<div class="col s12" style="margin-top: 90px;"></div>
			</div>
			<!--modal-->
		<div id="modal1" class="modal" tabindex="0" style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8); color:#000000">
			<div class="modal-content">
				<table style="color:#000000">
					<thead>
					  <tr>
						  <th>Ejercicio</th>
						  <th>Tiempo</th>
					  </tr>
					</thead>

					<tbody>
					<form>
					  <tr>
						<td> <label class="labelradius"><input name="group1" type="radio" checked /> Ejercicio 1</label></td>
						<td>20:00.-</td>
					  </tr>
					  <tr>
						<td> <label class="labelradius"><input name="group1" type="radio" /> Ejercicio 2</label></td>
						<td>30:00.-</td>
					  </tr>
					  <tr>
						<td> <label class="labelradius"><input name="group1" type="radio" /> Ejercicio 2</label></td>
						<td>31:00.-</td>
					  </tr>
					  </form>
					</tbody>
				  </table>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
				<a href="/exercise.html" class="modal-close waves-effect waves-green btn-flat">Continuar</a>
			</div>
		</div>
			<div class="row" style="margin:0; position: fixed; bottom:0; height:55px; z-index:999; left:0; background:#f44336; width:100%;">
				<div class="col s12" style="margin-top: 5px;"></div>
				<div class="col s2 waves-effect waves-light" style="text-align:center"><i class="material-icons" style="font-size: 40px; "><a href="/index.html" class="inactivo-texto"  style="font-size: 30px; text-align:center; color: #ffffff;">home</a></i><br /><span
					 style="font-size:12px">Inicio</span></div>
				<div class="col s2 waves-effect waves-light" style="text-align:center"><i class="material-icons" style="font-size: 40px; margin-left: 4px;"><a href="/profile.html"
						 style="font-size: 30px; text-align:center; color: #ffffff;">persona</a></i><br /><span
					 style="font-size:12px">Perfil</span></div>
				<div class="col s4">
					<div data-target="modal1" style="width:70px; height:70px; margin: -30px 0px 0px 14px;background:#f44336; border-radius:100%;"  class=" waves-effect waves-light red btn btn-large modal-trigger"><i
						 class="medium material-icons" style="font-size:40px; margin-left: -12px;  margin-top: 5px;">add</i></div>
				</div>
				<div class="col s2 waves-effect waves-light"><i class="material-icons inactivo-texto" style="font-size: 30px; text-align:center"><a href="/messages.html"
						 class=" inactivo-texto" style="font-size: 30px; text-align:center; color: #ffffff;">chat_bubble</a></i><br /><span
					 style="font-size:12px;margin-left: -8px">Mensajes</span></div>
				<div class="col s2 waves-effect waves-light"><i class="material-icons inactivo-texto" style="font-size: 30px; "><a href="/graphs.html" class=" inactivo-texto"
						 style="font-size: 30px; text-align:center; color: #ffffff;">insert_chart</a></i><br /><span style="font-size:12px">Panel</span></div>

			</div>
			<script>
                function signOut() {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                        window.location.replace("/auth.html");
                    });
                }
				document.addEventListener('DOMContentLoaded', function() {
					var elems = document.querySelectorAll('.modal');
					var instances = M.Modal.init(elems);
				});

				// Or with jQuery

				$(document).ready(function(){
					$('.modal').modal();
				});
			</script>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>